 .img{
        height: 20rem;
        filter: drop-shadow(20px 20px 10px rgb(0, 0, 0));
    }
    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-20px);
        }
      }
    
      .img {
        animation:
          bounce 1000ms
          alternate infinite
          cubic-bezier(.2, .65, .6, 1);
      }