*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Oxygen', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 100vw;
     padding-right: 2rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
   
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    background-color: #f80404;
  }
  
  nav ul li a.active {
    background-color:none;
    color: white;
  }
.navlink{
    display: flex;
    width: 100vw;
    background-color:none;
    justify-content: flex-end;
    padding-right: 4rem;
    margin-top: .5rem;
}
.logo{
    position: absolute;
    width: 700;
    font-size:30px;
    color: white;
    text-decoration: none;
    margin-left: 7rem;
}
.logo span{
    color: red;
}
.dp{
    filter: drop-shadow(0 0 0.75rem rgb(192, 70, 94));
}
.dp1{
    filter: drop-shadow(0 0 0.75rem rgb(192, 70, 94));
}
body{
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    width: 100vw;
    /* border: 1px red solid; */
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* border: 1px red solid; */
    
    
}
.about{
    display: flex;
    justify-content: center;
    padding: 0rem 4rem 0rem 7.2rem;
    flex-direction: column;
    /* border: 1px red solid; */
    width: 50%;
    color: white;
    font-size: x-large;
}
.dp-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    width: 50%;
}
header{
    position: fixed;
    z-index: 99;
}
.name{
    color: red;
}
.about {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    .dp-img {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }