.main{
    display: flex;
    /* background: rgb(60,177,252); */
    background: linear-gradient(180deg, rgba(60,177,252,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
   color: white;

}
.left{
    width: 50%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right{
   width: 50%;
   height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100vw;
    height: 88.5vh;
}