.main{
    display: inline-table;
    height: 91vh;
    color: white;
    background: linear-gradient(180deg, rgba(60,177,252,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
}
.img{
    height: 10rem;
    margin-left: 4rem;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 2px 0px 8px 2px black;
}